{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} production{% endblock %}

{% block entete %} {{ parent() }} production{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Approvisionnement production</h1>
    
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}