table
{
	border-collapse: collapse;
	margin: 50px auto 20px auto;
	width:70%;
}
tr td, tr th
{
	border: 1px solid #00B8D6;
	text-align: center;
	height: 30px;
}

tr th
{
	background: #00B8D6;
	color: white;
	letter-spacing: 1.5px;
	font-size: 18px;
	padding: 5px 10px;
}

.stockInsufisant td
{
	background: red;
	border: 1px solid red;
	color: white;
}
.stockInsufisant:hover td
{
	background: darkred;
	border: 1px solid darkred;
}
tr:hover
{
	background: #00B8D6;
	color: white;
}
tr td
{
	border: 1px solid #00B8D6;
	text-align: center;
	height:30px;
}
.titreFamille
{
	width:10%;
}
.titreSousFamille
{
	width:10%;
}
.titreDesignation
{
	width:30%;
}
.titreBoitier
{
	width:10%;
}
.titreStockMinimum
{
	width:10%;
}
.titreStock
{
	width:10%;
}
.titreDetails
{
	background: white;
	border-top: 0;
	border-right: 0;
	width:2%;
}
.designation
{
	text-align:left;
	padding-left: 5px;	
}
.details
{
	background: #00B8D6;
}
.flecheDetails
{
	margin-top: 4px;
	width: 12px;
	height: 12px;
}

.details a
{
	color: white;
}