#menuVertical
{
	float:left;
}
#lienMenuVertical
{
	margin-top:10px;
}
#lienMenuVertical h1
{
	color: #00B8D6;
	font-size: 25px;
	margin:10px 5px;
}
#lienMenuVertical h2
{
	margin:0;
	margin:5px 15px;
	font-size:20px;
}
#lienMenuVertical h3
{
	margin:5px 30px;
	font-size:15px;
}
a
{
	color:black;
	text-decoration: none;
}