.versionPlus
{
    background:url('../img/blueplus.png') top left no-repeat;
    display:inline-block;
    width:16px;
    height:16px;
}
tr:hover .versionPlus
{
    background:url('../img/whiteplus.png') top left no-repeat;
}